* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Lato";
  color: white;
}

/* global css starts*/
button {
  height: 40px;
  padding: 0 24px;
  outline: none;
  border: none;
  border-radius: 8px;
  font-weight: 700;
}

a {
  text-transform: none;
  color: unset;
  text-decoration: none;
}

ul {
  text-decoration: none;
  list-style: none;
}

.montserrat__font__family{
  font-family: 'Montserrat' !important;
}

.font__size__12 {
  font-size: 12px;
}
.font__size__14 {
  font-size: 14px;
}

.accent__btn {
  background: linear-gradient(to bottom, #ffc91d, #ef7816);
  color: #480000;
}

.accent__bg {
  background-color: #f7f0f0;
}

/* global css ends */

/* header starts*/
header {
  width: 100%;
  height: 80px;
  background-color: #320000;
  padding: 0px 100px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  font-size: 14px;
}

.ham__menu {
  display: none;
}

/* logo */
.logo {
  width: max-content;
}

/* Menu List */
.menu__list {
  width: max-content;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
  margin: 0 !important;
}
.menu__item {
  cursor: pointer;
  font-weight: 400;
}

.menu-item:hover {
  text-decoration: underline;
}

.active__menu__item {
  background: linear-gradient(to bottom, #ffc91d, #ef7816);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Authentication Actions buttons */
.auth__actions {
  display: flex;
  align-items: center;
}
/* header ends */

/* hero section starts */
.hero__section {
  background-color: #17181a;
  position: relative;
  color: white !important;
}

.hero__section__container {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-flow: row;
  gap: 24px;
}

.hero__section__image__wrapper {
  width: 60%;
  padding: 24px 0 0 0;
}

.hero__section__image__wrapper img {
  height: 100%;
}

.hero__section__content__container {
  padding: 60px 140px 0px 0px;
  width: 40%;
}

.hero__section__content__wrapper {
  display: flex;
  flex-flow: column;
  gap: 24px;
}

.hero__section__content__para {
  text-align: justify;
  font-weight: 400;
  font-family: "Lato";
  font-size: 16px;
  line-height: 32px;
  opacity: 75%;
}

.hero__section__side__image {
  position: absolute;
  right: 10px;
  top: 40px;
}

.hero__section__btns__container {
  display: flex;
  flex-flow: row;
  gap: 16px;
}

.join__here__btn {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.hero__section__links__container {
  padding: 24px 0 0 0;
}

.hero__section__links__list {
  display: flex;
  flex-flow: column;
  gap: 24px;
}

.link__item {
  height: 72px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
/* hero section ends */

/* about us section starts*/
.about__us__section {
  height: 100%;
  width: 100%;
  background-image: url("./public/assets/images/about_us_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.about__us__decorative {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.decorative__left {
  left: 0;
}
.decorative__right {
  right: 0;
}

.about__us__container {
  height: 100%;
  width: 60%;
  margin: auto auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 200px 0;
  text-align: center;
}

.about__us__container h1 {
  font-weight: 400;
  font-family: "Sedan";
  font-size: 40px;
}

.about__us__container p {
  font-weight: 400;
  font-family: "Lato";
  font-size: 24px;
  line-height: 60px;
  opacity: 75%;
}

.read__more__btn {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 48px;
  width: 180px;
}
/* about us section ends */

/* temple view section starts*/
.temple__view__container {
  width: 70%;
  margin: auto auto;
  padding-top: 48px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.temple__view__video__container {
  position: relative;
  width: 100%;
  height: 312px;
  border-radius: 8px;
}

.temple__view__video{
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}

.temple__view__player_svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.temple__view__content {
  display: flex;
  flex-flow: column;
  gap: 24px;
}

.temple__view__content h1 {
  color: #000;
  font-weight: 400;
  font-family: "Sedan";
  font-size: 40px;
  line-height: 55.4px;
}
.temple__view__content p {
  color: #000;
  font-weight: 400;
  font-family: "Lato";
  font-size: 20px;
  line-height: 45px;
  opacity: 50%;
}

.more__details__btn {
  width: max-content;
  background-color: #480000;
}
/* temple view section ends */

/* information center section starts */
.information__center__section {
  padding: 64px 0 0 0;
}

.information__center__container {
  width: 80%;
  margin: auto auto;
  display: flex;
  flex-flow: column;
  gap: 24px;
}

.information__center__container h1,
.information__center__container h2,
.information__center__container p {
  color: black !important;
  font-weight: 400;
}

.information__center__heading {
  font-size: 40px;
  font-family: "Sedan";
}

.information__center__content {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: start;
  flex-wrap: wrap;
  gap: 24px;
}

.center__info {
  max-width: 40%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  text-align: center;
}

.center__info h2 {
  font-family: "Montserrat";
  font-weight: 600;
  text-transform: uppercase;
}

.center__info p {
  font-family: "Sedan";
  font-size: 18px;
  line-height: 24.93px;
  font-weight: 400;
}
/* information center section ends */

/* upcoming events section starts */
.upcoming__events__section {
  padding: 64px 0 0 0;
}

.upcoming__events__container {
  width: 80%;
  margin: auto auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.upcoming__events__container h1,
.upcoming__events__container h2,
.upcoming__events__container p {
  color: black;
}

.upcoming__events__heading {
  font-size: 40px;
  font-family: "Sedan";
  font-weight: 400;
}

.upcoming__events__images {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  overflow: hidden;
}
/* upcoming events section ends */

/* latest news section starts */
.latest__news__section {
  padding: 64px 0 0 0;
  margin: auto auto;
  width: 80%;
}

.latest__news__heading {
  font-size: 40px;
  font-family: "Sedan";
  font-weight: 400;
  color: black;
  text-align: center;
}

.latest__news__content {
  padding: 48px 0 0 0;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.latest__news__card {
  background-color: transparent;
  box-shadow: 0 0 10px 1px rgb(141, 102, 102);
  border-radius: 8px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.latest__news__card img {
  width: 100%;
  position: relative;
  top: -10px; /* using position just to hide the radius the image has after downloading*/
}

.latest__news__card__info__wrapper {
  padding: 24px 48px 24px 48px;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.latest__news__card__info__wrapper h2 {
  width: 80%;
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat";
  line-height: 19.5px;
}
.latest__news__card__info__wrapper p {
  font-size: 12px;
  font-weight: 500;
  font-family: "Montserrat";
  line-height: 14.63px;
}

.latest__news__card h1,
.latest__news__card h2,
.latest__news__card h3,
.latest__news__card p {
  color: black;
}

.more__btn {
  justify-self: end;
  align-self: flex-end;
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat";
  line-height: 17.07px;
}
/* latest news section ends */

/* decoration above footer starts */
.above__footer__decoration {
  padding: 48px 0 0 0;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
}
/* decoration above footer ends */

/* footer starts */
footer {
  background-image: url("./public/assets/images/about_us_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.footer__content__container {
  width: 80%;
  padding: 48px 0 12px 0;
  height: 100%;
  margin: auto auto;
  display: flex;
  flex-flow: column;
  gap: 48px;
  justify-content: space-between;
}

.details__container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.details__container p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  font-family: "Lato";
}

.details__container div {
  width: 33%;
}

.useful__links__list,
.contact__info__list {
  display: flex;
  flex-flow: column;
  gap: 24px;
}

.contact__info__list li a {
  display: flex;
  flex-flow: row;
  justify-content: start;
  align-items: center;
  gap: 24px;
}
.contact__info__list li a p{
  padding: 0px !important;
  margin: 0px !important;
}

.phone__numbers__container{
  display: flex;
  flex-flow: row;
}
.phone__numbers__container div{
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 12px;
  width: 100%;
}

.payments__content {
  text-align: end;
  justify-self: flex-end;
  align-self: flex-start;
}

.copyright__contents {
  justify-self: flex-end;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.social__links {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
/* footer ends */

/* response css starts */
@media screen and (max-width: 960px) {
  header {
    width: 100%;
    padding: 24px 24px;
    flex-flow: row;
    justify-content: space-between;
  }

  nav {
    display: row;
    width: auto;
    justify-content: end;
  }
  .ham__menu {
    display: inline-block;
    font-size: 24px;
  }

  .ham__menu img {
    height: 32px;
    width: 32px;
  }

  .menu__list,
  .auth__actions {
    display: none;
  }

  nav ul li {
    width: max-content;
  }

  .auth__actions button {
    width: max-content;
  }
  .hero__section__container {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .hero__section__content__container{
    width: 90%;
    padding: 4px 0px 24px 0px;
  }
  .hero__section__image__wrapper {
    width: 90%;
    padding: 24px 0px 0 0;
  }

  .hero__section__image__wrapper img {
    height: unset;
    width: 100%;
  }

  .hero__section__links__list{
    justify-content: start;
    padding: 0px;
  }

  .about__us__container {
    height: 100%;
    width: 90%;
  }

  .temple__view__container, .temple__view__video__container .upcoming__events__container, .information__center__container {
    width: 90%;
  }

  .information__center__content {
    flex-flow: column;
    align-items: center;
  }
  .center__info {
    max-width: unset;
    width: 100%;
    align-items: center;
  }
  .center__info img {
    height: 150px;
  }

  .latest__news__content {
    flex-flow: column;
  }
  .temple__view__container {
    width: 90%;
    flex-flow: column;
  }
  .temple__view__video_container {
    width: 100%;
  }
  .above__footer__decoration img {
    width: 50%;
  }

  .footer__content__container {
    width: 100%;
    padding: 24px 24px;
  }

  .details__container {
    flex-flow: column;
    justify-content: start;
    align-items: start;
    gap: 24px;
  }
  .details__container div {
    width: 100%;
  }

  .useful__links__list,
  .contact__info__list {
    flex-flow: column;
    justify-content: start;
    flex-wrap: wrap;
    gap: 24px;
  }

  .contact__info__list li a {
    gap: 12px;
  }

  .payments__content {
    text-align: start;
    justify-self: flex-start;
    align-self: flex-start;
  }

  .copyright__contents {
    justify-self: flex-end;
    display: flex;
    flex-flow: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }
}
/* responsive css ends */
